packages:
  yum:
    cairo-devel: []
    pango: []
    pango-devel : []
    libicu-devel: []

commands:
    01_postgres_libs:
        command: rpm -ivh --force https://yum.postgresql.org/10/redhat/rhel-6.9-x86_64/postgresql10-libs-10.7-1PGDG.rhel6.x86_64.rpm
    02_postgres_install:
        command: rpm -ivh --force https://yum.postgresql.org/10/redhat/rhel-6.9-x86_64/postgresql10-10.7-1PGDG.rhel6.x86_64.rpm
    03_symink_pg_config:
        command: sudo ln -sf /usr/pgsql-10/bin/pg_config /usr/bin/pg_config
    04_postgres_devel:
        command: sudo rpm -ivh --force https://yum.postgresql.org/10/redhat/rhel-6.9-x86_64/postgresql10-devel-10.7-1PGDG.rhel6.x86_64.rpm
